.basic-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &_title {
    color: #fff;
    font-size: 6rem;
  }
}
