@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  transition: all 0.2s;
  scrollbar-width: none; }
  @media only screen and (max-width: 90em) {
    html {
      font-size: 50%; } }

body {
  width: 100%;
  background-color: #293550;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.6; }
  body::-webkit-scrollbar {
    display: none; }
    @media only screen and (max-width: 57em) {
      body::-webkit-scrollbar {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }
  body span {
    color: #5b5b5b;
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: none;
    letter-spacing: 0.5rem; }
    @media only screen and (max-width: 57em) {
      body span {
        font-size: 1rem;
        letter-spacing: 0.2rem; } }

p {
  color: #fff;
  font-size: 3rem; }

button {
  cursor: pointer; }

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.keypad {
  max-width: 50rem;
  margin: 2rem auto; }
  .keypad_letter {
    margin: 0.5rem;
    width: 4rem;
    height: 5rem;
    background: #b5d6dd;
    display: inline-block;
    border-radius: 0.6rem;
    line-height: 5rem; }
    .keypad_letter p {
      color: #293550;
      font-weight: 900; }
    .keypad_letter--green {
      background-color: green;
      transition: all 0.3s ease-in; }
      .keypad_letter--green p {
        color: #fff; }
    .keypad_letter--yellow {
      background-color: #fda312;
      transition: all 0.3s ease-in; }
      .keypad_letter--yellow p {
        color: #fff; }
    .keypad_letter--grey {
      background-color: grey;
      transition: all 0.3s ease-in; }
      .keypad_letter--grey p {
        color: #fff; }

.basic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .basic-container_title {
    color: #fff;
    font-size: 6rem; }

.row {
  text-align: center;
  display: flex;
  justify-content: center; }
  .row_current > div.filled {
    animation: bounce .15s ease-in-out forwards; }

.letter-box {
  display: block;
  width: 6rem;
  height: 6rem;
  border: 0.1rem solid grey;
  border-radius: 0.3rem;
  margin: 0.4rem;
  text-align: center;
  line-height: 6rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em; }
  .letter-box_green {
    --background-color: green;
    --border-color: green;
    animation: flip 0.5s ease forwards; }
  .letter-box_yellow {
    --background-color: #fda312;
    --border-color: #fda312;
    animation: flip 0.5s ease forwards; }
  .letter-box_grey {
    --background-color: grey;
    --border-color: grey;
    animation: flip 0.5s ease forwards; }
  .letter-box:nth-child(2) {
    animation-delay: 0.2s; }
  .letter-box:nth-child(3) {
    animation-delay: 0.4s; }
  .letter-box:nth-child(4) {
    animation-delay: 0.6s; }
  .letter-box:nth-child(5) {
    animation-delay: 0.8s; }

@keyframes flip {
  0% {
    transform: rotateX(0);
    background-color: transparent;
    border-color: grey; }
  45% {
    transform: rotateX(90deg);
    background-color: transparent;
    border-color: grey; }
  55% {
    transform: rotateX(90deg);
    background-color: var(--background-color);
    border-color: var(--border-color); }
  100% {
    transform: rotateX(0);
    background-color: var(--background-color);
    border-color: var(--border-color); } }

@keyframes bounce {
  0% {
    transform: scale(1);
    border-color: #d6d6d6; }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1);
    border-color: grey; } }
